
@{
    ViewData["Title"] = "Create Information";
}
@model IEnumerable<Information>
<h1 class="bg-success text-black">Information List</h1>
<a asp-action="Create" class="btn btn-outline-warning
">Add Information</a>
<table class="table table-sm table-bordered">
    <tr>
        <th>Id</th>
        <th>Name:</th>
        <th>License</th>
        <th>Established</th>
        <th>Revenue</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (Information inform in Model)
    {
        <tr>
            <td>@inform.Id</td>
            <td>@inform.Name</td>
            <td>@inform.License</td>
            <td>@inform.Established</td>
            <td>@inform.Revenue</td>
            <td>
                <a class="btn btn-sm btn-success" asp-action="Update" asp-route-id="@inform.Id">Update</a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@inform.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>
